body {
    background-image: url('../assets/borbs/borb_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.modal-btn {
    position: absolute;
    background: none;
    border: none;
}

.interact, .locked {
    position: absolute;
    height: 100dvh;
    width: 100%;
}

/*Temporary*/
#borb_1 {
    left: 900px;
    height: 700px;
    width: 270px;
    object-fit: cover;
    object-position: 73%;
}
#borb_2 {
    left: 650px;
    height: 700px;
    width: 250px;
    object-fit: cover;
    object-position: 48%;
}
#borb_3 {
    left: 1153px;
    height: 700px;
    width: 300px;
    object-fit: cover;
    object-position: 95%;
}
#borb_4 {
    height: 700px;
    width: 300px;
    object-fit: cover;
    object-position: 0%;
}
#borb_5 {
    left: 300px;
    height: 700px;
    width: 300px;
    object-fit: cover;
    object-position: 19%;
}

.carousel-item > img {
height: 250px;
width: 400px;
object-fit: cover;
}