body {
    background-image: url('../assets/hissys/hissy_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.modal-btn {
    position: absolute;
    background: none;
    border: none;
}

.interact, .locked {
    position: inherit;
    height: 100dvh;
    width: 100%;
}

/*Temporary*/
#hissy_1 {
    left: 1200px;
    height: 700px;
    width: 320px;
    object-fit: cover;
    object-position: 100% 0%;
}
#hissy_2 {
    left: 630px;
    height: 700px;
    width: 300px;
    object-fit: cover;
    object-position: 52% 0%;
}
#hissy_3 {
    left: 950px;
    height: 700px;
    width: 270px;
    object-fit: cover;
    object-position: 76% 0%;
}
#hissy_4 {
    left: 50px;
    height: 700px;
    width: 350px;
    object-fit: cover;
    object-position: 0% 0%;
}
#hissy_5 {
    left: 300px;
    height: 700px;
    width: 350px;
    object-fit: cover;
    object-position: 25% 0%;
}




.carousel-item > img {
height: 250px;
width: 400px;
object-fit: cover;
object-position: 0% 0%;
}